extends layout

block content
  .onoff__container
    .onoff__status
      p Stanje: OFF
    input(type="button" value="ON" class="onoff__gumb" data-stanje="ON")
    input(type="button" value="OFF" class="onoff__gumb" data-stanje="OFF")
